body{
	padding: 0 ;
	display: block;
}

.hideme{
    display: none;
}

#header{
	height: 70px;
	text-align: center;
}

#leftColumn{
	width: 300px;
	float: left;
	height: 450px;
	padding-left: 20px;
}

#leftMenu, #loginBox, #registerBox{
	padding-bottom: 20px;
}

#centerColumn{
	width: 1000px;
	float: left;
  padding-left: 90px;
}

#footer{
	clear: both;
}

.menuCaption{
	padding: 3px;
	font-weight: bold;
}

.cartBox{
	padding: 5px 0px 5px 0px;
}

.showHidden{
	text-decoration: underline;
	color: green;
	cursor: pointer;
}
#registerBoxHidden{
	display: none;
}

.border_style_dotted{
	border: 1px dotted #1E90FF;
	padding: 3px;
	margin-bottom: 5px;
	}
